/* - - - - - - - - - - -' * ⚝ 。• ‧ -FUENTES- ‧ • 。⚝ * '- - - - - - - - - - - */

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); /* font-family: 'Patrick Hand', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap'); /* font-family: 'Neucha', cursive; */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Neucha', cursive;
    background-color: #0f1f35;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    height: 100vh; */
}

/* - - - - - - - - - - -' * ⚝ 。• ‧ -CONTENEDORES PRINCIPALES- ‧ • 。⚝ * '- - - - - - - - - - - */

.contenedor-supremo {
    height: 38.75em;
    margin: auto;
    max-width: 115.625em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-superior {
    margin-top: 4em;
    width: 100%;
    max-width:68.75em;
    height: 15.625em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contenedor-inferior {
    width: 100%;
    max-width: 68.75em;
    height: 37.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* - - - - - - - - - - -' * ⚝ 。• ‧ -CONTENEDORES SECUNDARIOS- ‧ • 。⚝ * '- - - - - - - - - - - */

.estadisticas-ventas {
    background-color: #ebecd8;
    width: 50%;
    height: 90%;
    border: 2px solid #80d39b;
    border-radius: 0.938em;
    margin: 0.625em;
}

.estadisticas-reportes {
    background-color: #ebecd8;
    width: 50%;
    height: 90%;
    border: 2px solid #80d39b;
    border-radius: 0.938em;
    margin: 0.625em;
}

.ventas {
    background-color: #ebecd8;
    width: 100%;
    border: 2px solid #80d39b;
    border-radius: 0.938em;
    margin: 0.625em; 
    justify-content: space-between;
    padding-bottom: 0.938em;
}


/* - - - - - - - - - - -' * ⚝ 。• ‧ -ESTRUCTURA CONTENEDORES- ‧ • 。⚝ * '- - - - - - - - - - - */

.encabezado {
    width: 100%;
    height: 3.125em;
    background-color: #816f5c;
    border-radius: 0.938em 0.938em 0em 0em;
    display: flex;
    align-items: center;
}

.titulo-encabezado {
    font-size: 1.563em;
    letter-spacing: 0.094em;
    color: #80d39b;
    padding-left: 0.625em;
    font-weight: bold;
}

.contenido {
    height: 100%;
    padding: 0.313em 0em 0em 0.625em;
    overflow: auto; 
}

.enunciado-fijo {
    font-size: 1.375em;
    color: #0f3d7c;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    margin-top: 0.625em;
}

.ventas .encabezado {
    justify-content: space-between;
}

.ventas .contenido, .estadisticas-ventas .contenido {
    padding-left: 0px;
}

span {
    font-weight: lighter;
}

.ventas .contenido {
    height: 19.2em;
}

/* - - - - - - - - - - -' * ⚝ 。• ‧ -TABLAS- ‧ • 。⚝ * '- - - - - - - - - - - */

table {
    width: 95%;
    margin: auto;
    margin-bottom: 0.313em;
    border-collapse: collapse;
    color: #0f3d7c;
}

td {
    border-bottom: 2px solid #816f5c;
    height: 2.5em;
    font-weight: bold;
    padding-left: 0.625em;
}

th {
    text-align: left;
    border-bottom: 3px solid #816f5c;
    height: 2.25em;
    font-size: 1.25em;
}

.tabla-fecha, .tabla-precio {
    width: 5.25em;
}

.tabla-vendedora, .tabla-sucursal  {
    width: 6em;
}

.tabla-acciones {
    width: 5.25em;
}

.iconos-edit {
    text-align: center;
}

.fa-trash-alt {
    font-size: 1.25em;
    color: darkred;
    cursor: pointer;
}

.fa-edit {
    font-size: 1.25em;
    color: green;
    cursor: pointer;
}


/* - - - - - - - - - - -' * ⚝ 。• ‧ -VENTANA MODAL- ‧ • 。⚝ * '- - - - - - - - - - - */

.boton-general {
    color: #ebecd8;
    width: 6em;
    height: 1.875rem;
    margin-right: 1.25em;
    border-radius: 0.625em;
    background-color: #09254b;
    font-family: 'Patrick Hand', cursive;
    border: 1px solid #80d39b;
    font-size: 1.125em;
    cursor: pointer;
}

.boton-general:hover {
    background-color: green;
}

.neutro:hover {
   background-color: #0546a1;
}

.eliminar-venta:hover {
    background-color: rgb(192, 2, 2);
}

.ocultar-modal {
    display: none;
}

.contenedor-modal-nueva-venta, .contenedor-modal-editar-venta, .contenedor-modal-eliminar-venta {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 46, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.ventana-modal-nueva-venta, .ventana-modal-editar-venta {
    width: 25em;
    height: 34.375em;
    background-color: #ebecd8;
    border-radius: 0.938em;
    border: 2px solid #80d39b;
    z-index: 1;
}

.leyenda-select-multiple {
    font-size: 0.75em;
    color: #0f3d7c;
    margin-bottom: 0.313em;
    padding-left: 0.938em;
    font-weight: bold;
}

.ventana-modal-eliminar-venta {
    width: 25em;
    height: 12.5em;
    background-color: #ebecd8;
    border-radius: 0.938em;
    border: 2px solid #80d39b;
    z-index: 1;
}

.leyenda-alert-eliminar {
    font-size: 1.125em;
    font-weight: bold;
    color: #0f3d7c;
    margin: 1em;
    padding-left: 0.625em;
}

.alert-eliminar {
    font-size: 1.375em;
    font-weight: bold;
    color: #09254b;
    margin: 0.8em;
}

/* - - - - - - - - - - -' * ⚝ 。• ‧ -FORMS MODAL- ‧ • 。⚝ * '- - - - - - - - - - - */

.form-nueva-venta, .form-editar-venta {
    display: flex;
    flex-direction: column;
    padding: 1.25em;
}

.single-select {
    width: 96%;
    margin: 0.625em auto;
    height: 1.875em;
    border: 2px solid #80d39b;
    border-radius: 0.313em;
    color: #0f3d7c;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.063em;
    font-weight: bold;
    outline: none;
    background-color: #fefff5;
}

label {
    font-size: 1.125em;
    font-weight: bold;
    color: #0f3d7c;
}

.select-componentes {
    width: 96%;
    height: 9.7em;
    border: 2px solid #80d39b;
    margin: 0.313em auto;
    border-radius: 0.313em;
    overflow: auto;
    outline: none;
}
 
 select[multiple]:focus option:checked {
    background: #816f5c linear-gradient(0deg, #816f5c 0%, #816f5c);
  }  

option {
    height: 1.6em;
    color: #0f3d7c;
    font-size: 1.3em;
    padding-top: 0.125em;
    font-family: 'Patrick Hand', cursive;
    /* background-color: #fefff5; */
    
}

option:focus {
    background-color: #816f5c;
    color: #ebecd8;
}

input[type=date] {
    width: 96%;
    border: 2px solid #80d39b;
    margin: 0.625em auto;
    border-radius: 0.313em;
    outline: none;
    font-family: 'Patrick Hand', cursive;
    color: #0f3d7c;
    font-size: 1.15em;
}

.contenedor-botones {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.938em;
}

.positivo {
    background-color: rgb(12, 71, 12);
}

.eliminar-venta {
    background-color: rgb(126, 2, 2);
}




/* ------------------- R E S P O N S I V E --------------------*/

@media (max-width: 1000px) {
    body {
        display: flex;
        align-items: center;
        justify-content: unset;
    }

    .contenedor-superior{
        flex-direction: column;
        margin-top: 18em;

    }

    .estadisticas-reportes, .estadisticas-ventas, .ventas {
        width: 90%;
    }

    .ventas {
        margin-top: 4.7em;
        height: auto;
    }

    .ventas, .contenido {
        overflow-x: scroll;
    }

    .contenedor-inferior .contenido {
        overflow: auto;
    }

    .estadisticas-reportes .contenido {
        margin-bottom: 0.625em;
    }

    .contenedor-modal-nueva-venta, .contenedor-modal-editar-venta, .contenedor-modal-eliminar-venta {
        width: 100%;
        height: 75em;
        position: fixed;
    }
}


@media (max-width: 850px) {
    .tabla-componentes {
        min-width: 10em;
    }

    .tabla-sucursal {
        min-width: 5.625em
    }

    .estadisticas-reportes, .estadisticas-ventas, .ventas {
        width: 80%;
    }
}


@media (max-width: 650px) {
    .tabla-fecha {
        min-width: 5.437em;
    }

    .tabla-vendedora {
        min-width: 5.938em;
    }

    .tabla-acciones {
        min-width: 5.625em;
    }

    .tabla-precio {
        min-width: 5em;
    }

    .estadisticas-reportes, .estadisticas-ventas, .ventas {
        width: 80%;
    }

    .contenedor-modal-nueva-venta, .contenedor-modal-editar-venta, .contenedor-modal-eliminar-venta {
        width: 100%;
        height: 60em;
        position: fixed;
    }
}
