@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); /* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap'); /* font-family: 'Gochi Hand', cursive; */


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #0f1f35;
}

.contenedor-supremo {
    width: 90%;
}

.contenedor-superior {
    width: 90%;
}

.contenedor-inferior {
    width: 90%;
}

.estadisticas-ventas {
    background-color: #816f5c;
}

.estadisticas-reportes {
    background-color: #816f5c;
}

.ventas {
    background-color: #816f5c;
}